aside {
    display: flex;
    flex-direction: column;
    background: $color-back;
    padding-bottom: 50px;
    padding-top: 0;
    padding-left: 23px;
    padding-right: 22px;
}

.aside_title{
    height: 66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.aside_btn{
margin-top: 25px;
}

.aside_s_title{
display: flex;
flex-wrap: wrap;
justify-content: center;
text-align: center;
font-size: 1.1rem;
padding-top: 40px;
color: $color-text-gray;
 }

.aside_btn_text {
    color: $color-white;
    font-size: 0.97rem;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 9px;
    background-color: $color-fond;
    min-width: 375px;
}

input {
    background: transparent;
    border: none;
    padding-left: 12px;
    width: 127px;
}

::placeholder {
    color: black;
    opacity: 1;
}
