aside {
    display: flex;
    flex-direction: column;
    background: $color-back;
    padding-bottom: 50px;
    padding-top: 0;
    width: 100%;

    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    form {
        height: 45px;
        background-color: $color-fond;
        min-width: 375px;
    }

    input {
        background: transparent;
        border: none;
        padding-left: 12px;
        width: 127px;
    }

    ::placeholder {
        color: black;
        opacity: 1;
    }

    .aside_title {
        height: 66px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .aside_btn {
        margin-top: 25px;
        color: $color-white;
        font-size: 0.97rem;
    }

    .aside_s_title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 1.1rem;
        padding-top: 40px;
        color: $color-text-gray;
    }
}

//la palette du gout
.container_image img {
    width: 100%;
}

.card_restarant_blok {
    display: flex;
    padding: 1rem;
    align-items: center;
    color: black;
    justify-content: space-between;
    font-size: 1.5em;
}