footer {
    background-color: black;
    color: $color-white;
}

#footer {
   color: white;
   height: 25px;
   font-weight: bold;
}

.nav__link a {
    color: $color-white;
}

ul {
    list-style: none;
}