footer {
    background-color: black;
    color: white;

    .footer_title {
        color: white;
        font-family: 'Shrikhand', cursive;
        padding-top: 30px;
        font-size: 1.1rem;
        padding-left: 38px;
    }
}

.nav__link {
    list-style: none;
    padding: 2px;

    ul {
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        width: 97%;
    }

    li {
        list-style: none;
        width: 100%;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

.block_li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 60%;
    cursor: pointer;
}