footer {
    background-color: black;
    color: $color-white;
}

.footer__logo img {
   color: white;
   height: 25px;
   width: 120px;
}

.nav__link a {
    color: $color-white;
}

ul {
    list-style: none;
}