.title__logo img {
    height: 29px;
    width: 155px;
}

//palette du gout

.title__logo {
    justify-content: space-evenly;
    display: flex;
    width: 233px;
    align-items: center;
}

.fa-arrow-left{
    font-size: 1.5rem;
}