section {

	.section_header {
		align-self: flex-start;
	}

	.section_body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-left: 20px;
		padding-right: 20px;
		width: 97%;
		margin-top: 0;
		justify-content: center;

		&_restaurants,
		&_card,
		&_try-restaurant {
			justify-items: center;
		}

		ol {
			counter-reset: repas;
		}

		/* on initialise et nomme un compteur */
		li {
			list-style-type: none;
			counter-increment: repas;
			/* on incrémente le compteur à chaque nouveau li */
			margin-bottom: 13px;
			padding-right: 10px;
		}

		li::before {
			content: counter(repas);
			/* on affiche le compteur */
			padding: 4px 10px 7px;
			vertical-align: baseline;
			background: $color-primary;
			-moz-border-radius: 60px;
			border-radius: 60px;
			font-size: 0.9em;
			color: $color-white;
			margin-right: -17px;
			position: relative;
		}
	}

	.section_button {
		padding: 26px;
		margin-bottom: 10px;
		border-radius: 24px;
		border: none;
		box-shadow: 0.1px 5px 10px rgb(207, 207, 207);
		color: $color-text;
		padding-left: 20px;
		font-size: 1rem;
		font-weight: bold;
		width: 297px;

		&color {
			background-color: #bd5dbd;
		}
	}

	.fa-store {
		font-size: 1rem;
		color: $color-primary;
	}

	.fa-bars,
	.fa-mobile-alt,
	.fa-store {
		padding-right: 10px;
	}

	.fa-mobile-alt,
	.fa-ellipsis-v,
	.fa-bars {
		color: $color-text-gray;
		font-size: 1.2rem;
	}
}