.aside_btn {
    @include aside_btn
}

@keyframes fadeinleft {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(-1.5vw);
    }
}

@keyframes aparence {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes coloranim {
    0% {
        opacity: 0.5;
    }
}