body {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    min-width: 375px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

    .body_out_footer {

        header,
        aside,
        section,
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        main {
            background: $color-back;
        }

        a:link {
            text-decoration: none;
            text-align: center;
        }

        h2 {
            padding: 20px;
            margin-block-end: 0rem;

            & a {
                color: $color-text;
            }
        }
    }
}

.body_out_footer {
    animation-name: aparence;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}