body {
    //overflow:hidden;
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    min-width: 375px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

    .body_out_footer {

        header,
        aside,
        section,
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        main {
            background: $color-back;
        }

        a:link {
            text-decoration: none;
            text-align: center;
        }

        h2 {
            padding: 20px;
            margin-bottom: 0;

            & a {
                color: $color-text;
            }
        }
    }
}


/* 
body browser {
    margin-right: -14px ;
    overflow-y: scroll;
    overflow-x: hidden;
}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
.overflow-x-scroll-no-scrollbar {overflow:hidden;}
body::-webkit-scrollbar { 
    display: none;
}

.body_out_footer {
    animation-name: aparence;
    animation-duration: 4s;
    animation-fill-mode: forwards;

    margin-right: -14px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

html {overflow: -moz-scrollbars-none;}

html::-webkit-scrollbar { display: none; } 

body ::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
}
*/