body {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    min-width: 375px;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

header, aside, section, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

a:link{ 
 text-decoration: none; 
 text-align: center;
} 

h2{
    padding: 20px;
    margin-block-end: 0rem;
}

h2 a{
    color: $color-text;
}
footer a{
    color: $color-white;
}
 
.section_body{
    margin-top: 0;
}