@mixin aside_btn {
  padding: 1rem;
  border-radius: 100rem;
  background: $color-mix;
  border: none;
  text-align: center;
  justify-content: center;
  box-shadow: 0.2px 10px 10px rgb(207, 207, 207);
  cursor: pointer;
}