$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-mix: linear-gradient(#FF79DA, #9356DC);
$color-mix-top-right: linear-gradient(to top right, #FF79DA, #9356DC);
$color-fond: rgb(216, 214, 214);
$color-back: rgb(243, 238, 238);
$color-text: black;
$color-text-gray: #727172;